body
{
	font-family: sans-serif;
	margin: 0;
}

a
{
	text-decoration: none;
	font-weight: bold;
}

a:link,
a:active,
a:visited
{
	color: #000000;
}

a:hover
{
	color: #383838;
}


div#navigation
{
	background-color: #B7C0C7;
	padding-top: .5em;
	padding-left: .3em;
	padding-bottom: .3em;
}

div#navigation span#title
{
	display: block;
	font-size: 1.8em;
	font-weight: bolder;
	color: white;
}

div#navigation ul#links
{
	margin-left: 0;
	padding-left: 0;
}

div#navigation ul#links li
{
	display: inline;
}

div#navigation ul#links li:before
{
	content: "> ";
}

div#navigation ul#links li:after
{
	content: " ";
}

div#content
{
	padding-left: 22%;
}


div#toc
{
	float: left;
	width: 20%;
	background-color: #4D7494;
	margin-right: 1.5em;
	padding-left: .5em;
}

div#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #C7C7C7;
	font-size: .8em;
	padding: .3em;
	clear: both;
}

img#sflogo
{
	float: right;
	display: block;
}